.entry-container {
 display: flex;
 justify-content: center;
 height: 100vh;
}


.entry-form {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
 border: 1px solid var(--darker-red);
 border-radius: 5px;
 width: fit-content;
 height: fit-content;
 padding: 20px;
 background-color: var(--secondary);

}

.entry-form a {
 color: var(--black);
 font-size: 0.5em;
}

.inputs {
 margin: 0.5em;
}

.inputs input {
 padding: 5px;
}

.submit-btn {
 display: flex;
 justify-content: center;

}