* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Inconsolata', monospace;
}

:root {
 --primary: #A42929;
 --secondary: #E8E8E8;
 --tertiary: #7C7C7C;
 --darker-red: #793630;
 --lighter-red: #E50E0E;
 --gray: #BBBBBB;
 --black: black;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
}

.flex {
 display: flex;
 display: -webkit-flex;
}

h1 {
 font-family: 'Stick No Bills', sans-serif;
 font-weight: 700;
 font-style: bold;
}

h3 {
 font-family: 'Kdam Thmor Pro', sans-serif;
}
