#homepage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;

  height: 100vh;
  /* justify-content: space-between;
  align-items: center; */
  z-index: 2;
  padding: 100px;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

#home-text {
  z-index: 30;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 1vh;
  width: fit-content;
  margin-top: 3vh;
}

#home-title {
  /* position: absolute; */
  z-index: 20;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
 align-items: flex-start; */
  /* padding-bottom: 5vh; */
}

#home-title h1 {
  font-size: 100px;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--black);
  color: var(--lighter-red);
  text-align: left;
}

#home-title p {
  font-size: 25px;
  margin-left: 5px;
  color: var(--black);
  /* -webkit-text-stroke-width: 0.3px;
 -webkit-text-stroke-color: var(--black); */
}

#home-text h3 {
  font-size: 2em;
  padding: 0 10px;
  max-width: 100%;
  /* -webkit-text-stroke-width: 0.4px;
-webkit-text-stroke-color: var(--black); */
  color: var(--secondary);
  margin-top: 10px;
}

#signup-btn {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: radial-gradient(var(--lighter-red) 40%, var(--primary));
  border: 0.5px solid var(--secondary);
  border-radius: 7px;
  /* box-shadow: 0 0 3px var(--secondary); */
  width: 20em;
  font-size: 15px;
  color: var(--secondary);
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

a:hover {
  cursor: pointer;
}

#existing {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: var(--secondary);
  font-size: 15px;
  text-decoration: underline;
}

a {
  color: var(--secondary)
}

a:visited {
  color: var(--secondary);
}

#arrow {
  margin-left: 5px;
  width: 20px;
}
/* 
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary);
  mix-blend-mode: overlay;
} */

.footer {
  position: absolute;
  bottom: 0;
  left: 10px;
}

@media (max-width: 400px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  #homepage {
    padding: 20px;
  }
  #home-title h1 {
    font-size: 10px;
  }

  #home-title p {
    font-size: 10px;
  }

  #home-text h3 {
    font-size: 15px;
    margin-top: 8px;
  }

  button {
    padding: 5px;
    width: 15em;
    font-size: 10px;
    color: var(--secondary);
  }

  #existing {
    font-size: 10px;
  }
  /* #home-title h1 {
        font-size: 50px;
       }
       
       #home-title p {
        font-size: 15px;
       }
       
       #home-text h3 {
        font-size: 20px;
       margin-top: 10px;
       }

       button {
        padding: 5px;
        width: 15em;
        font-size: 10px;
        color: var(--secondary);
       }

       #existing {
         font-size: 10px;
       }*/
}
@media (max-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (max-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  #homepage {
    padding: 50px;
  }
  #home-title h1 {
    font-size: 70px;
  }

  #home-title p {
    font-size: 20px;
  }

  #home-text h3 {
    font-size: 30px;
    margin-top: 10px;
  }

  button {
    padding: 5px;
    width: 20em;
    font-size: 15px;
    color: var(--secondary);
  }

  #existing {
    font-size: 10px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
