h1 {
  font-size: 30px;
}

/* start timer section only */
/* .border_bottom {
  border-bottom: solid 1px;
  padding-bottom: 10px;
  text-align: center;
} */
.green {
  background-color: green;
}
.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.flex {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  height: 100vh;
}

/* entire workout timer and log section */
/* .workout_timer {
  width: auto;
  height: auto;
  margin: 0px 10px;
  /* border: 1px solid; 
} */

/* displayed log data */
/* .workout-log {
  width: 40%;
  height: 100vh; */
  /* border: 1px solid; */
/* } */

/* log your workout only */

/* .submit_log {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
} */

.button-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

/* #log-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

#log-container h1 {
  text-align: center;
}

#exercise-form {
  display: flex;
  flex-wrap: wrap;
}

.exercise-input {
  margin: 5px;
  border-radius: 5px;
}

#exercise-container {
  display: flex;
  flex-direction: column;
}

/* #timer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
} */

#timer-container h1 {
  text-align: center;
}

select,
input {
  width: 150px;
  height: 25%;
  max-width: 90%;
}

textarea {
  width: 90%;
  height: 35%;
  max-width: 90%;
}

button {
  max-width: 50%;
}

#hms {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.workout-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  margin: 20px;
  width: 45vw;
}

#saved-workouts {
  display: flex;
  padding: 15px;
  margin: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  width: 40vw;
  height: fit-content;
}
