h1 {
  font-size: 30px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex > * {
  flex: 1 0 40%;
  min-height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.example-picture {
  width: 100%;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#log-container h1 {
  text-align: center;
}

#exercise-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.exercise-input {
  margin: 5px 0;
  border-radius: 5px;
}

input {
  outline: none;
  padding: 5px;
}

input[class='exercise-input'] {
  flex: 1 0 30%;
  margin: 5px;
  border: 1px solid black;
  height: 25px;
}

div[class='exercise-input'] {
  flex: 1 0 30%;
  margin: 5px;
  min-width: 100px;
  border: 1px solid black;
  overflow: hidden;
  padding-right: 0;
  height: 25px;
}

div[class='exercise-input'] > * {
  border: none;
  width: 100%;
}

textarea[class='exercise-textarea'] {
  resize: none;
  margin: 5px;
  flex: 1 0 90%;
  height: 100px;
  outline: none;
  resize: none;
  padding: 5px;
  border-radius: 5px;
}

.example-workouts > p {
  margin-bottom: 10px;
  font-size: 14px;
}



#exercise-container {
  display: flex;
  flex-direction: column;
}

#timer-container h1 {
  text-align: center;
}

#hms {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.workout-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;
  height: 100%;
}

.workout-container > * {
  max-width: 100%;
}

#saved-workouts {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  flex-direction: column;
  height: fit-content;
}

.examples > div {
  margin-top: 5px;
}

.example-workouts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.imageSize {
  max-width: 100%;
  border-radius: 5px;
}

.itemsCenter {
  margin: auto;
}

.textCentered {
  text-align: center;
}

.textCentered h3 {
  font-size: 20px;
}
.textCentered p {
  font-size: 16px;
}
