header {
  background-color: var(--secondary);
}

header h1 {
  color: var(--lighter-red);

  font-size: 2.5em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
  margin-left: 4vw;
}

#nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#nav-entry {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#nav-entry a {
  margin: 0 10px 0 10px;
  font-size: 1.2em;
  color: var(--lighter-red);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--black);
  font-family: 'Staatliches';
  padding: 2px 2px 0px 2px;
  border-radius: 3px;
}

#nav-entry a:hover {
  background-color: lightgray;
}
