* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* min-width: 1024px;
  max-width: 1920px; */
  padding: 0.125rem;
}

.panel {
  flex: 1;
  min-width: 500px;
  margin: 0.12rem;
  /* background-color: pink; */
  background-color: rgba(255, 255, 255, 0.144);
  /* min-width: 400px; */
  /* height: 2.5rem; */
  position: relative;
  padding: 0 0.2rem 0.2rem;

  /* margin-bottom: 0.25rem; */
  border: 1px solid #1089e7;
}

.panel-blank {
  border: none;
}
.panel-blank::before,
.panel-blank::after {
  display: none;
}

.panel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #1089e7;
  border-top: 2px solid #1089e7;
}

.panel::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #1089e7;
  border-top: 2px solid #1089e7;
}

.panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.panel-footer:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #1089e7;
  border-bottom: 2px solid #1089e7;
}

.panel-footer:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #1089e7;
  border-bottom: 2px solid #1089e7;
}

.panel h2 {
  height: 0.6rem;
  color: #1089e7;
  line-height: 0.6rem;
  font-size: 0.2rem;
  text-align: center;
}

.chart {
  height: 1.6rem;
  min-height: 200px;
}
